@*-------------------------------------------------------------------
    【YWFZ】Grid
    -------------------------------------------------------------------*@
@{
    Layout = "../Shared/_BaseLayout.cshtml";
}
<style>
    form {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 200px;
        height: 20px;
    }
</style>
<form id="YWFZ_form" method="post">
    <input type="hidden" name="ID" />
    <input type="hidden" name="IsDelete" />
    <input type="hidden" name="IsShare" />
    <input type="hidden" name="IsValid" />
    <input type="hidden" name="IsConfig" />
    <input type="hidden" name="CreatePersonID" />
    <input type="hidden" name="CreateDate" />
    <input type="hidden" name="ModifyPersonID" />
    <input type="hidden" name="ModifyDate" />
    <input type="hidden" name="DATAORIGIN" />
    <input type="hidden" name="ORGANIZATIONID" />
    <table cellpadding="0" cellspacing="0" style="width: 700px" class="formtable">
        <tr>
            <th>分组名称：</th>
            <td>
                <input class="easyui-validatebox input" name="FZMC" />
            </td>
            <th>分组说明：</th>
            <td>
                <input class="easyui-validatebox input" name="FZSM" />
            </td>
        </tr>
        <tr>
            <th>排序号：</th>
            <td>
                <input class="easyui-validatebox input" name="SORTORDER" />
            </td>
            <th></th>
            <td></td>
        </tr>
    </table>
</form>

<script>
    var me = this;
    var myform = $('#YWFZ_form');

    initForm();
    $(document).ready(function () {

        if (me.formId) {
            $.messager.progress();
            loadForm();
        }
        else if (me.defaultValues) {
            myform.form('load', me.defaultValues);
        }

        if (me.Personalize && typeof (me.Personalize) == "function") {
            Personalize();
        }
    });

    //初始化表单
    function initForm() {
        myform.form({
            onLoadSuccess: function (data) {
                $.messager.progress('close');
            },
            buttons: [{
                iconCls: 'icon-add',
                text: '保存',
                handler: save
            }, '-', {
                iconCls: 'icon-edit',
                text: '重置',
                handler: reset
            }, '-', {
                iconCls: 'icon-remove',
                text: '取消',
                handler: cancel
            }]
        });
    }

    //加载表单
    function loadForm() {
        myform.form('load', '@Url.Action("LoadForm","YWFZ")/' + me.formId);
    }

    //保存
    function save() {
        $.messager.progress();
        myform.form('submit', {
            url: '@Url.Action("Save","YWFZ")',
            onSubmit: function () {
                var isValid = myform.form('validate');
                flag = isValid;
                if (!isValid) {
                    $.messager.progress('close');
                    $.messager.alert("提示", "表单未正确填写，请检查");
                }
                return isValid;
            },
            success: function (result) {
                $.messager.progress('close');
                if (result.success) {
                    if (me.parentGrid) {
                        me.parentGrid.datagrid('reload');
                    }
                    me.easyWindow.window('close');
                }
            }
        })
    }
    //重置
    function reset() {
        if (me.formId) {
            loadForm();
            return;
        }
        myform.form('reset');
        if (me.defaultValues) {
            myform.form('load', me.defaultValues);
        }
    }
    //取消
    function cancel() {
        me.easyWindow.window('close');
    }
</script>
