  

@*-------------------------------------------------------------------
【Auth_User】Form
-------------------------------------------------------------------*@
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<div class="easyui-layout" data-options="fit:true">
    <div class="datagrid-toolbar" data-options="region:'north',height:41" style="padding:5px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="margin-left: 40px;" onclick="save();">保存</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="reset();">重置</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-remove',permission:0" onclick="cancel();">关闭</a>
    </div>
    <div data-options="region:'center',border:false" style="background-color:#f2f5f7">
		<form id="User_form" class="myform" method="post">
			<fieldset>	<legend>基本信息</legend>	<table class='mytable'>	<tr>	<th><span class='x'>*</span>用户名:</th>	<td><input class='easyui-textbox' name='Name' /></td><th>	<span class='x'>*</span>真实姓名:</th>	<td><input class='easyui-textbox' name='RealName' /></td>	</tr>	<tr>	<th>性别:</th>	<td><input class="easyui-sjzdcombobox" name="Sex" data-options="zdbm:'SEX'"/></td><th>	所属部门:</th>	<td><input class="easyui-combobox" name="DepartmentID" data-options="width:230,height:28,textField:'Name',valueField:'ID',url:applicationPath+'/Authorize/Department/GetData'"/></td>	</tr>	<tr>	<th>所属岗位:</th>	<td><input class="easyui-combobox" name="StationID" data-options="width:230,height:28,textField:'Name',valueField:'ID',url:applicationPath+'/Authorize/Station/GetData'"/></td><th>	办公电话:</th>	<td><input class='easyui-textbox' name='OfficePhone' /></td>	</tr>	<tr>	<th>电子邮件:</th>	<td colspan='3'><input class='easyui-textbox' name='Email' data-options='width:604'/></td>	</tr>	<tr>	<th>登陆错误次数:</th>	<td><input class='easyui-numberbox' name='ErrorTime' /></td><th>	<span class='x'>*</span>是否锁定:</th>	<td><input id='da94774d-bac5-4549-8b99-f4405601cd56' class='easyui-boolcombobox component' name='Locked' data-componenttype='boolcombobox' data-options='width:230,height:28'/></td>	</tr>	<tr>	<th><span class='x'>*</span>是否有效:</th>	<td><input id='56397a49-167c-458d-ad16-18ebd91f87b0' class='easyui-boolcombobox component' name='IsValid' data-componenttype='boolcombobox' data-options='width:230,height:28'/></td><th>	排序号:</th>	<td><input class='easyui-numberbox' name='SortNumber' /></td>	</tr>	</table>	<input type='hidden' name='ID' />	<input type='hidden' name='Password' />	<input type='hidden' name='CreateTime' />	<input type='hidden' name='Creator' />	<input type='hidden' name='IsDeleted' />		</fieldset>	<fieldset>	<legend>角色列表</legend>	<table id='UserRole1' style='width: 753px; height: 300px;'></table>		</fieldset>	
		</form>
    </div>
</div>

<script>
    var me = this;
    var myform = $('#User_form');
    var urlParams = commonhelper.getUrlParams();
    me.formId = urlParams.id||"";

    $(document).ready(function () {
	    initForm();
		loadForm();

		initGrid_UserRole1();
    });

	//初始化表单
    function initForm() {
      myform.form({
        onLoadSuccess: function (data) {
            $.messager.progress('close');
        }
      });
	}

    //加载表单
    function loadForm() {
		$.messager.progress();
        myform.form('load', '@Url.Action("LoadForm","User")?id=' + me.formId);
    }

	function initGrid_UserRole1(){
	     var target=$('#UserRole1');
	     var opts={
            url: window.applicationPath+'/Authorize/User/GetPaged_UserRole?UserID=' + me.formId,
            border: true,
            height: 300,
            fit:false,
            pagination: true,
            rownumbers: true,
            checkbox: true,
            idField:'ID',
						columns:[[
			{ field: 'ck', checkbox: true },
			{field:'RoleName',title:'角色名称',width:100,editor:'textbox'}
			]],
            queryParams: {
                filters: JSON.stringify([]),
				orders:''
            },
			            toolbar: [{
                iconCls: 'icon-add',
                text: '选择',
                handler: function () { 
                    if (!me.formId) {
                        $.messager.alert('提示', '请先保存表单', 'info');
                        return;
                    }
				   commonhelper.openWindowInWorkArea(window.applicationPath +'/Authorize/User/Select_Role?id=' + me.formId, {
		                title:'选择',
                        selectCallback: function (ids, rows) {
                             target.datagrid('reload');
                        }
                    });
				}
            }, '-', {
                iconCls: 'icon-remove',
                text: '移除',
                handler: function () { 
				  commonhelper.RemoveDatagridSelected(target, function (ids, rows) {
                        $.messager.progress();
                        $.ajax({
                            url: window.applicationPath +'/Authorize/User/DeleteRelation_UserRole',
                            data: { ids: JSON.stringify(ids) },
                            //traditional: true,
                            method: 'post',
                            success: function (result) {
                                $.messager.progress('close');
                                if (result.success) {
                                    target.datagrid('clearSelections');
                                    target.datagrid('reload');
                                }
                                else {
                                    $.messager.alert("提示", result.Message);
                                }
                            }
                        });
                    });
				 }
            }
			, '-', {
                iconCls: 'icon-reload',
                text: '刷新',
                handler: function () { 
				  target.datagrid('reload');
				}
            }
			]
        };
        target.datagrid(opts);
	   }

    //保存
    function save() {
	    $.messager.progress();
        myform.form('submit', {
            url: '@Url.Action("SaveEntity","User")',
            onSubmit: function () {
                var isValid = myform.form('validate');
                flag = isValid;
                if (!isValid) {
                    $.messager.progress('close');
                    $.messager.alert("提示", "表单未正确填写，请检查");
                }
                return isValid;
            },
            success: function (result) {
                $.messager.progress('close');
                result = JSON.parse(result);
                if (result.success) {
                    if (me.callback) {
					   me.callback(result.entity);
                    }
                    me.formId = result.entity.ID;
					myform.form('load',{ID:me.formId});
                }
                $.messager.alert("提示", result.msg||"保存成功！");
            }
        })
    }
    //重置
    function reset() {
        if (me.formId) {
            loadForm();
        }
        else {
            myform.form('reset');
        }
    }
    //取消
    function cancel() {
        me.easyWindow.window('close');
    }
</script>

@*----------------------------*@

