@{
    //-------------------------------------------------------------------
    //【Auth_User】Select
    //-------------------------------------------------------------------

    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

@section PageCommandBefore{
    <div id="searchPanel"></div>
}
@section Buttons{
   <a class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="save();">确定</a>
   <a class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="refresh();">刷新</a>
}

<table id="Auth_User_Grid"></table>

<script>
    var me = this;
    var mygrid = $('#Auth_User_Grid');
    var mygridConfig = {};
    var urlParams = commonhelper.getUrlParams();

    $(document).ready(function () {
        initGrid();
        initSearchPanel();
    });

    function initGrid() {
	    var filters = me.filters || [];

		var opts={
            url:window.applicationPath +'/Authorize/User/GetPaged',
            border: true,
            fit:true,
            pagination: true,
            rownumbers: true,
		    singleSelect:true,
			striped:true,
			idField:'ID',
						columns:[[
			    { field: 'ck', checkbox: true},
			                { field: 'Name', title: "用户名",width:100 },
			                { field: 'Name', title: "用户名",width:128 },
			                { field: 'Password', title: "密码",width:100 },
			                { field: 'RealName', title: "真实姓名",width:100 },
			                { field: 'RealName', title: "真实姓名",width:131 },
			                { field: 'Sex', title: "性别",width:100 },
			                { field: 'OfficePhone', title: "办公电话",width:150 },
			                { field: 'DepartmentName', title: "部门名称",width:163 },
			                { field: 'Email', title: "电子邮件",width:200 },
			                { field: 'StationName', title: "岗位名称",width:130 },
			                { field: 'ErrorTime', title: "登陆错误次数",width:100 },
			                { field: 'SexName', title: "性别",width:100 },
			                { field: 'Locked', title: "是否锁定",width:100,formatter: commonhelper.boolFormatter },
			                { field: 'OfficePhone', title: "办公电话",width:142 },
			                { field: 'IsValid', title: "是否有效",width:100,formatter: commonhelper.boolFormatter },
			                { field: 'Email', title: "电子邮件",width:163 },
			                { field: 'ErrorTime', title: "登陆错误次数",width:100 },
			                { field: 'Locked', title: "是否锁定",width:100 },
			                { field: 'IsValid', title: "是否有效",width:100 },
			                { field: 'SortNumber', title: "排序号",width:100 },
			                { field: 'SortNumber', title: "排序号",width:100 }
						]],
            queryParams: {
                filters: JSON.stringify(me.filters),
				orders:'SORTNUMBER ASC'
            }	    };

        

				mygrid.datagrid(opts);
		        mygrid.queryParams = {
            filters: JSON.stringify(filters),
			orders:'SORTNUMBER ASC'
        }
    }

    function initSearchPanel() {
        $("#searchPanel").searchpanel({
            items: [
					    {text:'用户名',value:'Name'}
		     			,		    {text:'真实姓名',value:'RealName'}
		     			],
            parentGrid: mygrid
        });
    }

    function save() {
	    if(urlParams.singleSelect){
            commonhelper.SingleSelectGrid(mygrid, function (id, row) {
		      if(window.selectCallback){
			     window.selectCallback([id],[row]);
			  }
            });
		}
		else{
		    commonhelper.MultiSelectGrid(mygrid, function (ids, rows) {
		      if(window.selectCallback){
			     window.selectCallback(ids,rows);
			  }
            });
		}
    }
    function refresh() {
        mygrid.datagrid('clearSelections');
        if (mygrid.queryParams) {
            mygrid.datagrid('load', mygrid.queryParams);
        }
        else {
            mygrid.datagrid('reload');
        }
    }
</script>
