@{
    //-------------------------------------------------------------------
    //【WF_NODEPAGE】Select
    //-------------------------------------------------------------------

    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

@section PageCommandBefore{
    <div id="searchPanel"></div>
}
@section Buttons{
   <a class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="save();">确定</a>
   <a class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="close();">刷新</a>
}
<table id="WF_NODEPAGE_Grid"></table>

<script>
    var me = this;
    var mygrid = $('#WF_NODEPAGE_Grid');
    var mygridConfig = {};
    var urlParams = commonhelper.getUrlParams();

    $(document).ready(function () {
        initGrid();
        initSearchPanel();
    });

    function initGrid() {
	    var filters = me.filters || [];

		var opts={
            url:window.applicationPath +'/Workflow/Node/GetPaged_Page_ALL',
            border: true,
            fit:true,
            pagination: true,
            rownumbers: true,
		    singleSelect:true,
			striped:true,
			idField:'ID',
			columns:[[
			    { field: 'ck', checkbox: true},
			                { field: 'PERMISSION', title: "权限",width:100 },
			                { field: 'PARAMS', title: "参数",width:100 }
						]],
            queryParams: {
                filters: JSON.stringify(me.filters),
				orders:'SORTNUMBER ASC'
            }
	    };

		mygrid.datagrid(opts);
        mygrid.queryParams = {
            filters: JSON.stringify(filters),
			orders:'SORTNUMBER ASC'
        }
    }

    function initSearchPanel() {
        $("#searchPanel").searchpanel({
            items: [
						],
            parentGrid: mygrid
        });
    }

    function save() {
	   commonhelper.MultiSelectGrid(mygrid, function (ids) {
          var url=window.applicationPath+'/Workflow/Node/SaveRelation1_NodePage';
          $.ajax({
		        url:url,
		        data:{NODEID:urlParams.id,PAGEIDS:JSON.stringify(ids)},
		        type:'post',
		        success:function(result){
		            $.messager.alert('提示',result.msg||'保存成功！');
					if(me.parentGrid){
					   me.parentGrid.datagrid('reload');
					}
		        }
		 });
       });  
    }
   
    function refresh() {
        mygrid.datagrid('clearSelections');
            if (mygrid.queryParams) {
                mygrid.datagrid('load', mygrid.queryParams);
            }
            else {
                mygrid.datagrid('reload');
            }
    }
  
</script>
