
@{
    ViewBag.Title = "XinJianYeWu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .itemCls {
        float: left;
        margin: 10px 10px 0 10px;
        border-radius: 5px;
    }

    .title {
        font-weight: bold;
        text-align: center;
        font-size: large;
        padding: 10px 0 20px 0;
    }

    h3 {
        text-align: center;
    }

    .btnCls {
        margin: 0 3px 0 3px;
        padding: 0 5px 0 5px;
    }

    .hiddenCls {
        display: none;
    }

    .applyPanel {
        width: 140px;
        text-align: center;
        height: 40px;
        display: table;
    }

        .applyPanel div {
            vertical-align: middle;
            display: table-cell;
            line-height: 20px;
            font-weight: bold;
            font-size: 14px;
        }

    fieldset {
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        margin: 10px;
    }

        fieldset legend {
            font-size: 15px;
        }

    .itemBodyCls {
        background-color: #E0ECFF;
    }
</style>

<div class="container">
    <div id="workflowList"></div>
</div>

<script>
    var workflowList = $("#workflowList");
    $(document).ready(function () {
        $.get('@Url.Action("GetMyFlowList")', {}, function (data) {
            if (data.length == 0) {
                workflowList.append('<p style="padding:20px;font-size:large;">您当前账号没有可申请的业务！</p>');
                return;
            }
            $.each(data, function (index, group) {
                var fieldset = $('<fieldset><legend>' + group[0].FK_FlowSortName + '</legend></fieldset');
                workflowList.append(fieldset);
                $.each(group, function (index,item) {
                    var panel = $("<div></div>");
                    var title = $("<div class='applyPanel'><div>" + item.Name + "</div></div>");
                    var applyBtn = $("<a class='easyui-linkbutton btnCls' data-options='iconCls:\"icon-redo\"'>新增</a>");
                    var viewBtn = $("<a class='easyui-linkbutton btnCls' data-options='iconCls:\"icon-help\"'>查看</a>");

                    panel.append(title, applyBtn, viewBtn);
                    fieldset.append(panel);

                    $(panel).panel({
                        width: 159,
                        height: 75,
                        cls: 'itemCls',
                        bodyCls: 'itemBodyCls'
                    });

                    $(applyBtn).bind('click', function () {
                        StartProcess(item.No);
                    });
                    $(viewBtn).bind('click', function () {
                        ViewWorkflow(item.No);
                    });
                })
                $.parser.parse(workflowList);
            });
        });
    });
    //发起流程
    function StartProcess(workflowNo) {
        $.messager.progress();
        $.ajax({
            url: '@Url.Action("CreateBlankWork", "Flow")',
            data: { flowNo: workflowNo },
            type:'post',
            cache: false,
            success: function (result) {
                $.messager.progress('close');
                if (result.success && result.workID) {
                    var params = {
                        WorkflowNo: workflowNo,
                        WorkID: result.workID,
                        NodeID: result.nodeID,
                        WfState: 0,
                        FID: 0
                    };
                    var url = '@Url.Action("WfPanel", "Flow")?' + $.param(params);
                    window.location.href = url;
                }
                else {
                    $.messager.alert('提示', result.message || '办理业务失败，请联系管理员设置该业务流程');
                }
            }
        });
    }

    //查看流程
    function ViewWorkflow(workflowNo, workflowName) {
        window.location.href = '@Url.Action("WfChart", "Flow")?workflowNo=' + workflowNo;
        //pageCommonJS.openWindowInWorkArea(, {
        //    title: "【" + workflowName + '】查看' || '查看流程',
        //    maximized: true
        //});
    }
</script>