@{
    ViewBag.Title = "Index";
}

<div id="wfMonitor" class="easyui-tabs" data-options="fit:true,border:false">
    <div title="运行中" data-options="href:'Running'"></div>
    <div title="已完成" data-options="href:'Finished'"></div>
    <div title="已中止" data-options="href:'Veto'"></div>
</div>

