  

@*-------------------------------------------------------------------
【SYS_SJZD】Form
-------------------------------------------------------------------*@
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<form id="Sjzd_form" class="myform" method="post">
<div style="margin-bottom: 10px;">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="margin-left: 10px;" onclick="save();">保存</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="reset();">重置</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove',permission:0" onclick="cancel();">关闭</a>
</div>
    <fieldset>	<legend>基本信息</legend>	<table class='mytable'>	<tr>	<th>字典名称:</th>	<td><input class='easyui-textbox' name='ZDMC' data-options='width:230,height:28'/></td><th>	字典编码:</th>	<td><input class='easyui-textbox' name='ZDBM' data-options='width:230,height:28'/></td>	</tr>	<tr>	<th>名称:</th>	<td><input class='easyui-textbox' name='NAME' data-options='width:230,height:28'/></td><th>	数值:</th>	<td><input class='easyui-textbox' name='SZ' data-options='width:230,height:28'/></td>	</tr>	<tr>	<th>上级字典:</th>	<td><input class='easyui-textbox' name='PARENTID' data-options='width:230,height:28'/></td><th>	是否有效:</th>	<td><input id='2759' class='easyui-boolcombobox component' name='ISVALID' data-componenttype='boolcombobox' data-options='width:230,height:28'/></td>	</tr>	</table>	<input type='hidden' name='ID' />	<input type='hidden' name='SORTNUMBER' />	<input type='hidden' name='ISDELETED' />	<input type='hidden' name='CREATOR' />	<input type='hidden' name='CREATETIME' />		</fieldset>	
</form>

<script>
    var me = this;
    var myform = $('#Sjzd_form');
    var urlParams = commonhelper.getUrlParams();
    me.formId = urlParams.id||"";

    $(document).ready(function () {
	    initForm();

		$.messager.progress();
		loadForm();

		
    });

	//初始化表单
    function initForm() {
      myform.form({
        onLoadSuccess: function (data) {
            $.messager.progress('close');
        }
      });
	}

    //加载表单
    function loadForm() {
        myform.form('load', '@Url.Action("LoadForm","Sjzd")?id=' + me.formId);
    }

	


    //保存
    function save() {
	    $.messager.progress();
        myform.form('submit', {
            url: '@Url.Action("SaveEntity","Sjzd")',
            onSubmit: function () {
                var isValid = myform.form('validate');
                flag = isValid;
                if (!isValid) {
                    $.messager.progress('close');
                    $.messager.alert("提示", "表单未正确填写，请检查");
                }
                return isValid;
            },
            success: function (result) {
                $.messager.progress('close');
                result = JSON.parse(result);
                if (result.success) {
                    if (me.parentGrid) {
					   					    me.parentGrid.datagrid('reload');
					                       }
                    me.formId = result.entity.ID;
					myform.form('load',{ID:me.formId});
                }
                $.messager.alert("提示", result.msg||"保存成功！");
            }
        })
    }
    //重置
    function reset() {
        if (me.formId) {
            loadForm();
        }
        else {
            myform.form('reset');
        }
    }
    //取消
    function cancel() {
        me.easyWindow.window('close');
    }
</script>

