@{
    //-------------------------------------------------------------------
    //【WF_FLOWSORT】Index
    //-------------------------------------------------------------------

    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

@section PageCommandBefore{
    <div id="searchPanel"></div>
}

<table id="WF_FLOWSORT_Grid"></table>

<script>
    var me = this;
    var mygrid = $('#WF_FLOWSORT_Grid');
    var mygridConfig = {};
    var urlParams = commonhelper.getUrlParams();

    $(document).ready(function () {
        initGrid();
        initSearchPanel();
    });

    function initGrid() {
	    var filters = me.filters || [];

		var opts={
            url:window.applicationPath +'/Workflow/FlowSort/GetPaged',
            border: true,
            fit:true,
            pagination: true,
            rownumbers: true,
		    singleSelect:true,
			striped:true,
			idField:'NO',
						columns:[[
			    { field: 'ck', checkbox: true},
			                { field: 'NO', title: "编号-主键",width:100 },
			                { field: 'PARENTNO', title: "父节点No",width:100 },
			                { field: 'NAME', title: "名称",width:100 },
			                { field: 'ORGNO', title: "组织编号(0为系统组织)",width:100 },
			                { field: 'DOMAIN', title: "域/系统编号",width:100 },
			                { field: 'IDX', title: "Idx",width:100 }
						]],
            queryParams: {
                filters: JSON.stringify(me.filters),
				orders:''
            }
	    };

        

				mygrid.datagrid(opts);
		        mygrid.queryParams = {
            filters: JSON.stringify(filters),
			orders:''
        }
    }

    function initSearchPanel() {
        $("#searchPanel").searchpanel({
            items: [
						],
            parentGrid: mygrid
        });
    }

    function create() {
         var url=window.applicationPath+'/Workflow/FlowSort/Form';
            commonhelper.openWindowInWorkArea(url, {
                frame: true,
                title: '新增',
                parentGrid: mygrid
            });
    }
    function update() {
        var url=url||(window.applicationPath+'/Workflow/FlowSort/Form');
            commonhelper.SingleSelectGrid(mygrid, function (id) {
                commonhelper.openWindowInWorkArea(url+'?id=' + id, {
                    frame: true,
                    title: '修改',
                    parentGrid: mygrid
                });
            });
    }
    function del() {
        commonhelper.RemoveDatagridSelected(mygrid, function (ids, rows) {
		    $.messager.progress();
                $.ajax({
                    url: window.applicationPath+'/Workflow/FlowSort/DeleteEntities',
                    data: { ids: ids },
                    traditional: true,
                    method:'post',
                    success: function (result) {
                        $.messager.progress('close');
                        if (result.success) {
						    mygrid.datagrid('clearSelections');
                            mygrid.datagrid('reload');
                        }
                        else {
                            $.messager.alert("提示", result.Message);
                        }
                    }
                });
            });
    }
    function refresh() {
        mygrid.datagrid('clearSelections');
            if (mygrid.queryParams) {
                mygrid.datagrid('load', mygrid.queryParams);
            }
            else {
                mygrid.datagrid('reload');
            }
    }
    function detail() {
        commonhelper.SingleSelectGrid(mygrid, function (id) {
                commonhelper.openWindowInWorkArea(window.applicationPath+'/Workflow/FlowSort/Form?permission=0&id=' + id, {
                    frame: true,
                    title: '查看',
                    parentGrid: mygrid
                });
            });
    }
	

    //导出Excel
    function exportExcel() {
        var url = '@Url.Action("ExportExcel","FlowSort")';
        var form = $('<form method="post" action="' + url + '"></form>').appendTo('body');
        var rows = mygrid.datagrid('getSelections');
        var opts = mygrid.datagrid('options');
        
        if (rows.length == 0) {
            $.ajax({
                url: opts.url,
                async: false,
                data: $.extend({ page: 1, rows: 10000 }, opts.queryParams),
                success: function (result) {
                    rows = result.rows;
                }
            });
        }
		
        var columns = mygrid.datagrid('options').columns;
        var dic = {};
        $.each(columns[0], function (index, item) {
            if (item.formatter) {
                dic[item.field] = item.formatter;
            }
        });
        rows = $.map(rows, function (row) {
            $.map(row, function (value, pro) {
                if (dic[pro]) {
                    row[pro] = dic[pro](value, row);
                }
            });
            return row;
        });
        $("<input type='hidden' name='sheetName' />").appendTo(form).val("流程类别");
        $("<input type='hidden' name='data' />").appendTo(form).val(JSON.stringify(rows));
        $("<input type='hidden' name='columns' />").appendTo(form).val(JSON.stringify(opts.columns[0]));

        form.submit().remove();
    }
</script>
