@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 5px;">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="Save()">保存</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="Close()">关闭</a>
</div>
<form id="fileForm" method="post" style="width: 400px" class="myform">
    <input type="hidden" name="ID" />
    <table style="width: 350px" class="mytable">
        <tr>
            <th>目录：</th>
            <td>
                <input id="ParentID" name="ParentID" data-options="editable:false" />
            </td>
        </tr>
        <tr>
            <th>文件名：</th>
            <td>
                <input class="easyui-textbox" name="Name" />
            </td>
        </tr>
    </table>
</form>
<script>
    var me = this;
    var myform = $("#fileForm");
    var urlParams = commonhelper.getUrlParams();

    $(document).ready(function () {
        initForm();
        myform.form('load', applicationPath + '/Attachment/LoadForm?id=' + urlParams.id);
    });

    //初始化表单
    function initForm() {
        $("#ParentID").combotree({
            url: applicationPath + '/Attachment/GetFolderList?recordID=' + urlParams.recordID + "&category=" + urlParams.category
        });
    }

    function Save() {
        myform.form('submit', {
            url: applicationPath + '/Attachment/SaveEntity',
            success: function (result) {
                result = JSON.parse(result);
                if (result.success) {
                    window.callback(result);
                }
                $.messager.alert('提示', result.msg || '保存成功！');
            }
        })
    }
    function Close() {
        if (me.easyWindow) {
            me.easyWindow.window('close');
        }
    }
</script>
