@{
    Layout = "~/Areas/Workflow/Views/Shared/_BaseLayout.cshtml";
}
<div style="padding: 5px;">
    <a class="easyui-linkbutton" onclick="Save()">保存</a>
    <a class="easyui-linkbutton" onclick="Close()">关闭</a>
</div>
<form id="folderForm" method="post">
    <input type="hidden" name="ID" />
    <input id="Record_id" type="hidden" name="Record_id" />
    <input type="hidden" name="Isdirectory" value="1" />
    <table style="width: 350px">
        <tr>
            <td>上级目录：</td>
            <td>
                <input id="Parent_id" name="Parent_id" data-options="editable:false,width:250" />
            </td>
        </tr>
        <tr>
            <td>目录名称：</td>
            <td>
                <input class="easyui-validatebox" name="Name" data-options="required: true" style="width: 250px" />
            </td>
        </tr>
    </table>
</form>
<script>
    var me = this;
    var myform = $("#folderForm");

    $(document).ready(function () {
        $("#Parent_id").mycombotree({
            valueField: 'ID',
            textField: 'Name',
            url: RootDirectory + '/CommonBussiness/Attachment/GetDirectoryList',
            queryParams: { recordId: me.recordId },
            onChange: function () {
                
            }
        });
        if (me.formId) {
            myform.form('load', RootDirectory + '/CommonBussiness/Attachment/LoadForm/' + me.formId);
        }
        else {
            myform.form('load', { Record_id: me.recordId, Isdirectory: true });
        }
    });
    function Save() {
        myform.form('submit', {
            url: RootDirectory + '/CommonBussiness/Attachment/Save',
            success: function (data) {
                if (me.parentGrid) {
                    me.parentGrid.treegrid('reload');
                }
                if (me.easyWindow) {
                    me.easyWindow.window('close');
                }
            }
        })
    }
    function Close() {
        if (me.easyWindow) {
            me.easyWindow.window('close');
        }
    }
</script>
